.Profile-containers {
    width: max-content;
    
    
    width: 30vw;
    text-align: left;
    padding: 5px 5px;
    grid-column: auto;
    
}

.Profile-containers > h2{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 0;
    margin: 0;
}
.tab-contents{
    display: grid;
    grid: auto-flow / 1fr 1fr;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.tab-contents span{
    font-weight : 600;
    margin: auto 0.2rem auto 0;
}

.tab-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.adress{
    display: inherit;
}
