.App-Articles, .article-containers, .container{
    display: flex;
    margin: 3vh 2vw;
    align-self: center;
    align-content: center;
  }
  .card{
    margin: auto;
    padding: 2px;
    margin: auto 10px;
    border: 2px solid #545454;
    align-self: center;
    align-content: center;
  }
  .card-title{

  }
  .card-img{
    display: inline-block;
    width: 100%;
    height: 50vh;
    position: relative;
    object-fit: cover;
  }

  